@media screen and (max-width:1199px) {

    /* header area start */
    header .nva-bar {
        padding: 0 2rem;
    }

    /* header area start */
    /* about area start */
    /* .about-area {
        height: 100vh;
    } */

    .about-area .area-content {
        padding: 0;
    }

    .img-container {
        height: 450px;
    }

    /* about area end */
    /* portfolio */
    .controls ul li:last-child  {
        margin: 0;    
     }
    /* portfolio */


}

@media screen and (max-width:992px) {

    /* header */
    header .nva-bar {
        padding: 0 5rem;
    }

    .nav {
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
        left: 0;
        top: 0;
        opacity: .9;
        clip-path: circle(100px at 100% -20%);
        transition: 1000ms;
    }

    .clip-path {
        clip-path: circle(1400px at 90% -20%);
    }

    .nav .nav-items {
        padding: 1.4rem 0;
    }

    .humbuger {
        display: block;
    }

    /* header */
    /* about */
    .about-area .area-content {
        padding: 0 !important;
        margin: 0 auto;
    }

    .area-title {
        padding-bottom: 0;
    }

    .img-container {
        margin: 0 auto;
    }

    .img-container {
        width: 85%;
    }

    /* about */
    /* portfolio */
    .controls ul  {
        padding: 0;
         
     }
    .controls ul li:last-child  {
        margin: 0;    
     }
 
    /* portfolio */
}





@media screen and (max-width:800px) {

    /* header */
    .header-description .greetings {
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin: .5rem 0;
    }

    /* header */
    /* skill */
    .right-content {
        width: 100%;
        margin: 0 auto !important;
        text-align: center;
    }

    .left-content {
        width: 100%;
        margin: 0 auto !important;
        text-align: center;
    }

    /* .skill-area {
        height: 150vh;
    } */


    /* skill */

}


@media screen and (max-width:768px) {

    /* header */
    .header-description {
        left: 20%;
    }

    .header-description .header-txt {
        width: 75%;
    }

    /* header */
    /* about */
    .area-title .text {
        width: 75%;
    }

    /* .about-area {
        height: 160vh;
    } */

    /* about */
    /* portfolio */
    .controls ul li {
        font-size: .8rem;
    }

    /* portfolio */
}


@media screen and (max-width:576px) {

    /* header */
    header {
        height: 100vh;
    }

    .header-description {
        left: 2%;
    }

    header .nva-bar {
        padding: 0 1rem;
    }

    .header-description .header-txt {
        width: 100%;

    }

    .header-description .greetings {
        font-size: 2rem;
    }

    .hire-btn {
        padding: .5rem 1rem;
    }

    .contact-btn {
        padding: .5rem 1rem;
    }

    /* header */

    /* about */
    /* .about-area {
        height: 165vh;
    } */
    .img-container {
        height: 300px
    }

    /* about */
    /* skills */
    .skills p {
        font-size: .8rem;
    }
    .skills{
        width: 30%;
        margin: 5px 5px;
    }

    /* skills */
    /* portfolio */
    .items {
        width: 90%;
        margin: 20px auto;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 1);
    }

    .controls ul li {
        margin: 4px;
        padding: .4rem .7rem;
        font-size: .7rem;
    }
    .controls ul  {
       padding: 0;
        font-size: .7rem;
    }

    /* portfolio */




}