@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* rest defualt style start */
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

} */

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #ff6347;
    --secondary-color: #fff;
    --bg-color: #342c49;
    --secondary-bg-color: #fbfbfb;
}

/* rest defualt style end */


/*************************** header area start ***************************************/
header {
    background-image: url(../assets/bg-1.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    position: relative;
}

header::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 63) -15%, #000000 100%);
    opacity: .7;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

header .nva-bar {
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    padding: 0 4rem;
    position: fixed;
    width: 100vw;
    height: 5rem;
    align-items: center;
    transition: 250ms;
    z-index: 9;
}

header .nva-bar .logo {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-family: cursive;
}

.nav .nav-links {
    margin: 0 .3rem;
    padding: .4rem 1rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--secondary-color);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 250ms;
}

.nav .nav-links:hover {
    border: 2px solid var(--primary-color);
}

.nav-links.active {
    border: 2px solid var(--primary-color);
}

.nav-toggle {
    color: white;
    font-size: 2rem;
    transition: 1250ms;
    cursor: pointer;

}

.humbuger {
    z-index: 2;
    display: none;
}

.sticky {
    background-color: var(--bg-color);
    transition: 250ms;
}

.header-description {
    position: absolute;
    left: 10%;
    top: 30%;
    z-index: 5;
    color: white;
}

.header-description .greetings {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 1rem 0;

}

#auto-input {
    color: var(--primary-color);
}

.header-description .header-txt {
    width: 50%;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 2rem 0;
}

.header-buttons {
    margin: 4rem 0;
}

.hire-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: .8rem 1.7rem;
    border-radius: 20px;
    transition: 250ms;
    margin-right: 2%;
}

.hire-btn:hover {
    color: wheat;
}

.contact-btn {
    border: 2px solid var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: .7rem 1rem;
    border-radius: 20px;
}

.contact-btn:hover {
    color: wheat;
}

/*************************** header area end ***************************************/

/*************************** about area start ***************************************/

.about-area {
    background-image: url(../assets/about-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    width: 100%;
    position: relative;

}

.about-area .inner-area {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-bg-color);
    left: 0;
    top: 0;
    opacity: .9;

}

.area-title {
    padding: 2rem 0;
}

.area-title .headeing {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.area-title .headeing .span {
    color: var(--primary-color);
}

.area-title .dots {
    background-color: var(--primary-color);
    display: block;
    height: 2px;
    width: 6rem;
    margin: auto;
    transition: 250ms;
    animation: transition .5s linear .2s 1;
}

@keyframes transition {
    0% {
        width: 0;
    }

    100% {
        width: 6rem;
    }
}

.area-title .text {
    width: 50%;
    margin: auto;
    padding: .5rem 0;
}

.img-container {
    position: relative;
    height: 420px;
    width: 70%;
    background-color: tomato;
    border-radius: 20px;
}

.img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    left: 8%;
    top: 4%;

}

.img img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.description .title {
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #000000;
    line-height: 2rem;
    padding-top: 1rem;
}

.description .pera {
    padding: .3rem 0;

}

.social-icons {
    padding: 1rem 0;
}

.social-icons .area {
    height: 2.5rem;
    width: 2.5rem;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    padding: .5rem 0;
    transition: 250ms;
    cursor: pointer;
    text-align: center;
    margin-right: 2%;

}

.social-icons .area:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.redmore-btn {
    background-color: #000000;
    color: var(--secondary-color);
    border-radius: 5px;
    padding: .3rem 1rem;
    display: inline-block;
    transition: 250ms;
    cursor: not-allowed;
    margin: 1.5rem 0;
}

.redmore-btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.about-area .area-content {
    padding: 0 2rem;
}

/*************************** about area end ***************************************/
/*************************** skill area strat ***************************************/
.skill-area {
    background-image: url(../assets/skills-section-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

.skill-area .inner-area {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    opacity: .9;
    color: white;
}

.right-content {
    width: 50%;
}

.left-content {
    width: 50%;
}

.skills {
    border-radius: 10px;
    height: 8rem;
    width: 20%;
    margin: 2%;
}

.skills p {
    color: #000000;
    font-weight: 900;
}

.skills img {
    height: 60px;
    cursor: pointer;
    transform: scale(.9);
    transition: 250ms;
}

.skills img:hover {
    transform: scale(1);
}

/* html */
.skills .html {
    border-radius: 10px;
    height: 11px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
    position: relative;

}

.skills .html::after {
    content: '90%';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 90%;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-weight: 900;
    text-align: right;
    font-size: 9px;
    animation: html 3s ease-in-out 3;


}

/* css */
.skills .css {
    border-radius: 10px;
    height: 11px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
    position: relative;
}

.skills .css::after {
    content: '90%';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 90%;
    background-color: #3597f6;
    border-radius: 10px;
    font-weight: 900;
    text-align: right;
    font-size: 9px;
    animation: html 3s ease-in-out 3;

}

/* b5 */
.skills .b5 {
    border-radius: 10px;
    height: 11px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
    position: relative;
}

.skills .b5::after {
    content: '90%';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 90%;
    background-color: #8913fb;
    border-radius: 10px;
    font-weight: 900;
    text-align: right;
    font-size: 9px;
    animation: html 3s ease-in-out 3;

}

/* sass */
.skills .sass {
    border-radius: 10px;
    height: 11px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
    position: relative;
}

.skills .sass::after {
    content: '80%';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: #cb6195;
    border-radius: 10px;
    font-weight: 900;
    text-align: right;
    font-size: 9px;
    animation: sass 3s ease-in-out 3;

}

/* js */
.skills .js {
    border-radius: 10px;
    height: 11px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
    position: relative;
}

.skills .js::after {
    content: '50%';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: orchid;
    border-radius: 10px;
    font-weight: 900;
    text-align: right;
    font-size: 9px;
    animation: js 3s ease-in-out 3;

}

/* js */
.skills .jq {
    border-radius: 10px;
    height: 11px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
    position: relative;
}

.skills .jq::after {
    content: '60%';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60%;
    background-color: #156bad;
    border-radius: 10px;
    font-weight: 900;
    text-align: right;
    font-size: 9px;
    animation: jq 3s ease-in-out 3;

}

.skills .wd {
    border-radius: 10px;
    height: 11px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
    position: relative;
}

.skills .wd::after {
    content: '70%';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 70%;
    background-color: #156bad;
    border-radius: 10px;
    font-weight: 900;
    text-align: right;
    font-size: 9px;
    animation: wd 3s ease-in-out 3;


}

.skills .el {
    border-radius: 10px;
    height: 11px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
    position: relative;
}

.skills .el::after {
    content: '90%';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 90%;
    background-color: #d1285f;
    border-radius: 10px;
    font-weight: 900;
    text-align: right;
    font-size: 9px;
    animation: el 3s ease-in-out 3;
}

/* progressbar animation in skill section strat */
@keyframes html {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes sass {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes js {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes jq {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes wd {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@keyframes el {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

/* progressbar animation in skill section end */
/*************************** skill area end ***************************************/


/*************************** service area strat ***************************************/

.services {
    background-color: var(--secondary-bg-color);
}

.service-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.services-txt {
    font-size: .9rem;
}

.servicse-icon {
    background-color: var(--primary-color);
    height: 5rem;
    width: 5rem;
    margin: 1rem auto;
    border-radius: 50%;
    padding: 1rem;
    font-size: 2rem;
    color: var(--secondary-color);
    transition: 300ms;

}

.service-body {
    transition: 250ms;
    padding: 1.5rem;
    cursor: not-allowed;
    border-radius: 10px;
}

.service-body:hover .servicse-icon {
    background-color: var(--secondary-bg-color);
    color: var(--bg-color);
}

.service-body:hover {
    background-color: var(--primary-color);
    color: white;
}

/*************************** service area end ***************************************/